model/src/main/resources/op.mos.ru/EHDWS/soap-dev.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://ehd.mos.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ehd.mos.com/" name="EHDWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ehd.mos.com/" schemaLocation="soap1.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ehd.mos.com" schemaLocation="soap2.xsd"/>
</xsd:schema>
</types>
<message name="getCatalogItems">
<part name="parameters" element="tns:getCatalogItems"/>
</message>
<message name="getCatalogItemsResponse">
<part name="parameters" element="tns:getCatalogItemsResponse"/>
</message>
<message name="AuthException">
<part name="fault" element="tns:AuthFault"/>
</message>
<message name="getAllDict">
<part name="parameters" element="tns:getAllDict"/>
</message>
<message name="getAllDictResponse">
<part name="parameters" element="tns:getAllDictResponse"/>
</message>
<message name="getCatalogSpec">
<part name="parameters" element="tns:getCatalogSpec"/>
</message>
<message name="getCatalogSpecResponse">
<part name="parameters" element="tns:getCatalogSpecResponse"/>
</message>
<message name="getDictItem">
<part name="parameters" element="tns:getDictItem"/>
</message>
<message name="getDictItemResponse">
<part name="parameters" element="tns:getDictItemResponse"/>
</message>
<message name="getCatalogList">
<part name="parameters" element="tns:getCatalogList"/>
</message>
<message name="getCatalogListResponse">
<part name="parameters" element="tns:getCatalogListResponse"/>
</message>
<message name="getCatalogStats">
<part name="parameters" element="tns:getCatalogStats"/>
</message>
<message name="getCatalogStatsResponse">
<part name="parameters" element="tns:getCatalogStatsResponse"/>
</message>
<message name="getCatalogSpecNew">
<part name="parameters" element="tns:getCatalogSpecNew"/>
</message>
<message name="getCatalogSpecNewResponse">
<part name="parameters" element="tns:getCatalogSpecNewResponse"/>
</message>
<message name="getCatalogItemsNew">
<part name="parameters" element="tns:getCatalogItemsNew"/>
</message>
<message name="getCatalogItemsNewResponse">
<part name="parameters" element="tns:getCatalogItemsNewResponse"/>
</message>
<message name="setDataIn">
<part name="parameters" element="tns:setDataIn"/>
</message>
<message name="setDataInResponse">
<part name="parameters" element="tns:setDataInResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getUserBySession">
<part name="parameters" element="tns:getUserBySession"/>
</message>
<message name="getUserBySessionResponse">
<part name="parameters" element="tns:getUserBySessionResponse"/>
</message>
<message name="getDictItemV2">
<part name="parameters" element="tns:getDictItemV2"/>
</message>
<message name="getDictItemV2Response">
<part name="parameters" element="tns:getDictItemV2Response"/>
</message>
<portType name="soap">
<operation name="getCatalogItems">
<input wsam:Action="http://ehd.mos.com/soap/getCatalogItemsRequest" message="tns:getCatalogItems"/>
<output wsam:Action="http://ehd.mos.com/soap/getCatalogItemsResponse" message="tns:getCatalogItemsResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getCatalogItems/Fault/AuthException"/>
</operation>
<operation name="getAllDict">
<input wsam:Action="http://ehd.mos.com/soap/getAllDictRequest" message="tns:getAllDict"/>
<output wsam:Action="http://ehd.mos.com/soap/getAllDictResponse" message="tns:getAllDictResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getAllDict/Fault/AuthException"/>
</operation>
<operation name="getCatalogSpec">
<input wsam:Action="http://ehd.mos.com/soap/getCatalogSpecRequest" message="tns:getCatalogSpec"/>
<output wsam:Action="http://ehd.mos.com/soap/getCatalogSpecResponse" message="tns:getCatalogSpecResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getCatalogSpec/Fault/AuthException"/>
</operation>
<operation name="getDictItem">
<input wsam:Action="http://ehd.mos.com/soap/getDictItemRequest" message="tns:getDictItem"/>
<output wsam:Action="http://ehd.mos.com/soap/getDictItemResponse" message="tns:getDictItemResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getDictItem/Fault/AuthException"/>
</operation>
<operation name="getCatalogList">
<input wsam:Action="http://ehd.mos.com/soap/getCatalogListRequest" message="tns:getCatalogList"/>
<output wsam:Action="http://ehd.mos.com/soap/getCatalogListResponse" message="tns:getCatalogListResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getCatalogList/Fault/AuthException"/>
</operation>
<operation name="getCatalogStats">
<input wsam:Action="http://ehd.mos.com/soap/getCatalogStatsRequest" message="tns:getCatalogStats"/>
<output wsam:Action="http://ehd.mos.com/soap/getCatalogStatsResponse" message="tns:getCatalogStatsResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getCatalogStats/Fault/AuthException"/>
</operation>
<operation name="getCatalogSpecNew">
<input wsam:Action="http://ehd.mos.com/soap/getCatalogSpecNewRequest" message="tns:getCatalogSpecNew"/>
<output wsam:Action="http://ehd.mos.com/soap/getCatalogSpecNewResponse" message="tns:getCatalogSpecNewResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getCatalogSpecNew/Fault/AuthException"/>
</operation>
<operation name="getCatalogItemsNew">
<input wsam:Action="http://ehd.mos.com/soap/getCatalogItemsNewRequest" message="tns:getCatalogItemsNew"/>
<output wsam:Action="http://ehd.mos.com/soap/getCatalogItemsNewResponse" message="tns:getCatalogItemsNewResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getCatalogItemsNew/Fault/AuthException"/>
</operation>
<operation name="setDataIn">
<input wsam:Action="http://ehd.mos.com/soap/setDataInRequest" message="tns:setDataIn"/>
<output wsam:Action="http://ehd.mos.com/soap/setDataInResponse" message="tns:setDataInResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ehd.mos.com/soap/setDataIn/Fault/Exception"/>
</operation>
<operation name="getUserBySession">
<input wsam:Action="http://ehd.mos.com/soap/getUserBySessionRequest" message="tns:getUserBySession"/>
<output wsam:Action="http://ehd.mos.com/soap/getUserBySessionResponse" message="tns:getUserBySessionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ehd.mos.com/soap/getUserBySession/Fault/Exception"/>
</operation>
<operation name="getDictItemV2">
<input wsam:Action="http://ehd.mos.com/soap/getDictItemV2Request" message="tns:getDictItemV2"/>
<output wsam:Action="http://ehd.mos.com/soap/getDictItemV2Response" message="tns:getDictItemV2Response"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ehd.mos.com/soap/getDictItemV2/Fault/AuthException"/>
</operation>
</portType>
<binding name="soapPortBinding" type="tns:soap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCatalogItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="getAllDict">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="getCatalogSpec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="getDictItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="getCatalogList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="getCatalogStats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="getCatalogSpecNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="getCatalogItemsNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="setDataIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getUserBySession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getDictItemV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EHDWS">
<port name="soapPort" binding="tns:soapPortBinding">
<soap:address location="http://op.mos.ru:80/EHDWS/soap"/>
</port>
</service>
</definitions>
