server/src/test/resources/xsd/test_documentWithArrayFields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.some.org/users.xsd">
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="nickname" type="xs:string"/>
                <xs:element name="phone" type="xs:string" minOccurs="3" maxOccurs="3"/>
            </xs:sequence>
            <xs:attribute name="userSeqNum" type="xs:int" />
            <xs:attribute name="userSex" type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>